name: simple ci yaml file

on:
  push:
    branches:
      - main

jobs:
  simple-job:
    runs-on: ubuntu-latest

    steps:
      - name: just hi
        run: echo "hi hello"
      - name: date
        run: pwd
      
    
  
        
