name: simple ci 

on:
   push:
     branches:
       - main

jobs:
  simple-job:
    runs-on: ubuntu-latest

    steps:
      - name: step1
        run: echo "hello welcome"
      - name: step2
        run: pwd
      
